<div class="album py-5 bg-light">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">



      <div class="col" *ngFor="let car of cars | slice:0:6">
        <div class="card shadow-sm">
<!--          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->
          <img class="image" src="{{car.imageUrl}}">
          <div class="card-body">
            <p class="card-text">{{car.description | truncate:[40, '...']}} </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-md btn-outline-secondary" (click)="View(car)">View</button>
                <button type="button" class="btn btn-md btn-outline-secondary" *ngIf="isAdmin">Edit</button>
              </div>
<!--              <small class="text-muted">9 mins</small>-->
            </div>
          </div>
        </div>
      </div>




    </div>
  </div>
</div>
